[project]
	description = Do what you want :)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/indfo
[access "refs/for/refs/*"]
	read = group user/indfo
	push = group user/indfo
	label-Code-Review = -2..+2 group user/indfo
	label-Verified = -1..+1 group user/indfo
	rebase = group user/indfo
	removeReviewer = group user/indfo
	submit = group user/indfo
[access "refs/heads/*"]
	read = group user/indfo
	create = group user/indfo
	push = +force group user/indfo
	pushMerge = group user/indfo
[access "refs/tags/*"]
	push = +force group user/indfo
	pushTag = group user/indfo
	pushSignedTag = group user/indfo
